/****** Object:  Table [dbo].[Il]    Script Date: 2018.12.24 14:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Il](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilce]    Script Date: 2018.12.24 14:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilce](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IlId] [int] NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ilce] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Il] ON 

INSERT [dbo].[Il] ([Id], [Adi]) VALUES (1, N'ADANA')
INSERT [dbo].[Il] ([Id], [Adi]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[Il] ([Id], [Adi]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[Il] OFF
SET IDENTITY_INSERT [dbo].[Ilce] ON 

INSERT [dbo].[Ilce] ([Id], [IlId], [Adi]) VALUES (1, 1, N'Aladağ')
INSERT [dbo].[Ilce] ([Id], [IlId], [Adi]) VALUES (2, 1, N'Ceyhan')
INSERT [dbo].[Ilce] ([Id], [IlId], [Adi]) VALUES (3, 1, N'Çukurova')
GO
SET IDENTITY_INSERT [dbo].[Ilce] OFF
